<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rewrite Spanish HTML">
                    <match url="^spanish$" />
                    <action type="Rewrite" url="spanish.html" />
                </rule>
                <rule name="Rewrite Simplified Chinese HTML">
                    <match url="^simplified-chinese$" />
                    <action type="Rewrite" url="simplified-chinese.html" />
                </rule>
                <rule name="Rewrite Traditional Chinese HTML">
                    <match url="^traditional-chinese$" />
                    <action type="Rewrite" url="traditional-chinese.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>